@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Variables */
:root {
  --primary-color: #8cc63f;
  --secondary-color: #cae4a6;
  --white-color: #fff;
  --font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

.header:hover {
  color: var(--secondary-color);
  border-radius: 10px;
  cursor: pointer;

}

.teamImage{
  transform: scale(5);
  filter: drop-shadow(0 0 2px #000000);
  object-fit: cover;
  max-width: 100px;
}

.meetOurTeam{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slider {
  position: relative;
  width: 80%;
  max-width: 600px;
  text-align: center;
  bottom: 250px;
  right: 50px;
}

.slider-content {
  position: relative;
}

#slider-image {
  width: 400px;
  height: auto;
  transition: opacity 0.3s ease-in-out;
  position: relative;
  top: 37px;
  /* Ensure it stays under the name plate */
}

.namePlate{
  background-color: var(--primary-color);
  transition: opacity 0.3s ease-in-out;
  color: var(--white-color);
  border-radius: 10px;
  font-weight: bold;
  height: 80px;
  width: 450px;
}

#slider-position{
  font-size: 1.5em;
  position: relative;
  bottom: 30px;
}


#slider-text {
  font-size: 2em;
}

.nav-btn {
  position: absolute;
  bottom:  200px;
  transform: translateY(-50%);
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: var(--secondary-color);
}

#prev-btn {
  left: -120px;
  font-size: 1.2em;
  border-radius: 10px;
  width: 100px;
}

#next-btn {
  right: -180px;
  font-size: 1.2em;
  border-radius: 10px;
  width: 100px;
}

.aboutMe{
  background-color: #A3D95A;
  text-align: center;
  color: var(--white-color);
  font-size: 30px;
  width: 700px;
  height: 600px;
  padding: 30px 5px;
  border:#fff 10px solid;
  box-shadow: 0 0 0 5px #A0F036;
}

.slider{
  display: flex;
}

.prev-btn, .next-btn{
  width: 100px;
  height: 50px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 20px;
  border: none;
  border-radius: 100px;
}

.prev-btn:hover, .next-btn:hover{
  cursor: pointer;
}

.nameCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team{
  color: var(--primary-color);
  font-size: 50px;
  margin-bottom: 300px;
}

.updateName{
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white-color);
  text-shadow: 1px 1px 2px #000000;
  box-shadow: inset 0 0 5px #000000;
  padding: 3px 15px;
  margin-top: 230px;
  z-index: 1;
  width: 500px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  align-items: center;
  height: 100px;
  padding-right: 10px;
  color: var(--white-color);
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it stays above other content */
  transition: top 0.3s; /* Smooth transition */
}

.nav.hidden {
  top: -100px; /* Hide the navbar by moving it out of view */
}

.logo {
  width: 200px;
  height: 80px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

.infoText {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: start;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 300px;
  max-width: 600px;
  color: var(--primary-color);
  transform: scale(2); /* Adjusted scale for better responsiveness */
}

.recycle {
  flex-grow: 2;
  flex-shrink: 1;
  width: auto;
  max-width: 450px;
  height: auto;
  max-height: 900px;
  position: relative;
  top: -65px;
  left: 20px;
  z-index: -1;
  scale: 1.2;
  transform: rotate(-20deg);
}

.recycling {
  background: -webkit-linear-gradient(var(--primary-color), var(--primary-color), var(--primary-color), var(--secondary-color), #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
}

.btn {
  border-radius: 1em;
  background-color: var(--secondary-color);
  color: var(--white-color);
  border: none;
  font-family: var(--font-family);
  font-weight: 300;
  width: 150px;
  height: 45px;
  font-size: 20px;
}

a,
a:visited {
  text-decoration: none;
  color: var(--white-color);
}

.moreIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: scale(0.1);
  bottom: 10%;
  right: 40%;
}
