@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-TrashTech{
    background-color: #8cc63f;
}

.logo-brand{
    transform: translateY(-90px);
    background-color: var(--primary-color);
}



.text-TrashTech{
    color: #8cc63f;
    font-size: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Variables */
:root {
  --primary-color: #8cc63f;
  --secondary-color: #cae4a6;
  --white-color: #fff;
  --font-family: "Outfit", sans-serif;
}

.height-2{
    position: relative;

}

.height{
    border: 2px solid red;
    height: 100px;
}

html{
  scroll-behavior: smooth;

}

html, body{
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  overflow-x: hidden;
}

.header {
  padding-right: 130px;
  position: relative;
  right: -150px;
  top: 3px;
  text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.363);
}

.header:hover {
  color: var(--secondary-color);
  border-radius: 10px;
  cursor: pointer;
}

.teamImage {
  transform: scale(5);
  filter: drop-shadow(0 0 2px #000000);
  object-fit: cover;
  max-width: 100px;
}

.meetOurTeam {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slider {
  position: relative;
  width: 80%;
  max-width: 600px;
  text-align: center;
  bottom: 250px;
  right: 50px;
}

.slider-content {
  position: relative;
}

#slider-image {
  width: 400px;
  height: auto;
  transition: opacity 0.3s ease-in-out;
  position: relative;
  top: 37px;
}

.namePlate {
  background-color: var(--primary-color);
  transition: opacity 0.3s ease-in-out;
  color: var(--white-color);
  border-radius: 10px;
  font-weight: bold;
  height: 80px;
  width: 450px;
}

#slider-position {
  font-size: 1.5em;
  position: relative;
  bottom: 30px;
}

.btn{
    transform: translateY(-80px);
    
}

#slider-text {
  font-size: 2em;
}

.nav-btn {
  position: absolute;
  bottom: 200px;
  transform: translateY(-50%);
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: var(--secondary-color);
}

#prev-btn {
  left: -120px;
  font-size: 1.2em;
  border-radius: 10px;
  width: 100px;
}

#next-btn {
  right: -180px;
  font-size: 1.2em;
  border-radius: 10px;
  width: 100px;
}

.hi i{
  transform: translateY(-10px);
}


.aboutMe {
  background-color: #a3d95a;
  text-align: center;
  color: var(--white-color);
  font-size: 30px;
  width: 700px;
  height: 600px;
  padding: 30px 5px;
  border: #fff 10px solid;
  box-shadow: 0 0 0 5px #a0f036;
}

.box-shadow, .hi i{
  text-shadow: 1px 1px 2px #000000;
}

.slider {
  display: flex;
}

.prev-btn,
.next-btn {
  width: 100px;
  height: 50px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 20px;
  border: none;
  border-radius: 100px;
}

.prev-btn:hover,
.next-btn:hover {
  cursor: pointer;
}

.nameCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team {
  color: var(--primary-color);
  font-size: 50px;
  margin-bottom: 300px;
}

.updateName {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white-color);
  text-shadow: 1px 1px 2px #000000;
  box-shadow: inset 0 0 5px #000000;
  padding: 3px 15px;
  margin-top: 230px;
  z-index: 1;
  width: 500px;
  text-align: center;
}

.nav {
  display: flex;
  background-color: var(--primary-color);
  align-items: center;
  height: 100px;
  color: var(--white-color);
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it stays above other content */
  transition: top 0.3s; /* Smooth transition */
  width: 100vw;

}

.nav.hidden {
  top: -100px; /* Hide the navbar by moving it out of view */
}

.logo {
  width: auto;
  height: 90px;
  position: relative;
  right: -30px;
  top:5px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

.infoText {
  position:relative;
  top: -100px;
  right: -180px;
  display: grid;
  grid-template-rows: 10px auto;
  justify-items: start;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 300px;
  max-width: 600px;
  color: var(--primary-color);
  transform: scale(2.5) translateY(0px) /* Adjusted scale for better responsiveness */
}

.shift{
    position: relative;
    
}

.recycle {
  flex-grow: 2;
  flex-shrink: 1;
  width: auto;
  max-width: 450px;
  height: auto;
  max-height: 900px;
  position: relative;
  top: -65px;
  left: 120px;
  z-index: -1;
  scale: 1.2;
  transform: rotate(-20deg);
}

.recycling {
  background: -webkit-linear-gradient(var(--primary-color), var(--primary-color), var(--primary-color), var(--secondary-color), #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 55px;
  position: relative;
  top: -20px;
  right:2px;
  transform: translateY(20%);
}

.btn {
  position: absolute; 
  top: 165px;
  border-radius: 1em;
  background-color: var(--secondary-color);
  color: var(--white-color);
  border: none;
  font-family: var(--font-family);
  font-weight: 300;
  width: 150px;
  height: 45px;
  font-size: 20px;
}

a,
a:visited {
  text-decoration: none;
  color: var(--white-color);
}


.more {
  transform: scale(0.1);
}

.card-side{
  height: 550px;
  border-radius: 16px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  padding: 32px;
  color: #fff
}

.card{
  position: relative;
  top: 200px;
  height: 650px;
  max-width: 400px;
  background: none;
}

/* animation card start */

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.card:nth-of-type(1){
  animation: MoveUpDown 3s ease-in-out 1s infinite;
}


.card:nth-of-type(2){
  animation: MoveUpDown 3s ease-in-out 1.25s infinite;
}

.card:nth-of-type(3){
  animation: MoveUpDown 3s ease-in-out 1.5s infinite;
}

.card:nth-of-type(4){
  animation: MoveUpDown 3s ease-in-out 1.75s infinite;
}

/* animation card end */

.card:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.card-side.front {
  background-size: cover;
  background-position: center;
  color: white; /* Ensure text is readable on the image */
}

.card-side.back {
  background-color: var(--secondary-color);
  transform: rotateY(-180deg);
}

.card.flip .card-side.front {
  transform: rotateY(180deg);
}

.card.flip .card-side.back {
  transform: rotateY(0deg);
}

/* individual images */
.bg-vincent {
  background-image: url('images/image.png');
}

.bg-shams {
  background-image: url('images/ethanpicture.jpg');
}

.bg-tommy {
  background-image: url('images/tommy.png');
}

.bg-ethan {
  background-image: url('images/shams.png');
}


.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 50px 0;
  padding-bottom: 200px;
}


@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  transition: 0.3s ease-in-out;
  font-family: "Outfit", sans-serif;
}

.container {
  width: 100%;
  height: 50px;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scale: 1.5;
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}


form div,
form label,
form input,
form textarea {
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

label,
input,
textarea {
  padding: 8px;
}

.footer{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  gap: 2rem;
}


.logos{
  flex: 1;
}

.logos{
  font-size: 2rem;
  color: var(--primary-color);
  padding: 10px;
  border-radius: 2rem;
}

.logos:hover{
  cursor: pointer;
  color: white;
  background-color: var(--primary-color);
  transition: ease-in-out 0.3s;
}

.op{
  color: var(--primary-color)
}

label,
[placeholder] {
  color: #555;
}

label i {
  margin: 0 10px 0 0;
}

.field:focus-within label {
  color: #000;
  font-weight: 500;
  font-size: 16px;
}

input,
textarea {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input:focus,
textarea:focus {
  background: rgba(255, 255, 255, 1);
  box-shadow: none;
  scale: 1.05;
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 0;
}

button {
  background: var(--primary-color);
  padding: 8px 16px;
  margin: 16px 0 50px 0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submitbutton:hover {
  box-shadow: none;
  scale: 1.1;
  background: #ffffff;
  color: var(--primary-color);
  border: var(--primary-color) 1px solid;
}

.get-in-touch {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}


img{
  width: 50px;
  height: 50px;
}

.social-media {
  display: flex;
  justify-content: space-around;
}

.social-media:not(.social-media) {
  font-size: 14px;
}

.social-media a {
  color: #000;
  font-size: 20px;
}


.card {
  flex: 1;
  margin: 0; /* Adjust the margin as needed for spacing between cards */
}


/* Media Queries for responsiveness */
@media (max-width: 800px) {
  html, body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    width: 100vw;
    height: 100vw;
    overflow-x: hidden;
  }

  .brands{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scale: 0.6;
  }

  .logo-brand{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .logos:hover{
    transition: ease-in-out none;
  }

  .meet{
    display: block;
  }


  .mores{
    display: block;
    transform: scale(1.2) translateY(-80px) translateX(30%);
    position: relative;
    display: flex;
    left: 8%;
    margin: auto;
    animation: MoveUpDown 1.5s ease-in-out infinite;
  }

  .mores img{
    width: 20%;
    height: auto;
  }

  #about{
    transform: translateY(-10px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
  }


  .nav {
    flex-direction: column;
    height: 50px;
    justify-content: center;
    align-items: center;
  }

  .nav a{
    position: absolute;
    left: 23%;
  }

  .logo {
    width: 40vw;
    height: auto;
  }

  .header {
    display: none;
  }

  .content {
    flex-direction: column;
    padding: 10px;
  }

  .recycling{
    font-size: 40px;
  }

  .infoText {
    transform: scale(1.1) translateX(-30%) translateY(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 150px;
    left: 30%;
  }
  .infoText h2 {
    font-size: 30px;
    padding: 0 10px;
  }

  .features{
    scale: 0.7;
    padding-top: 0;
  }

  .contact{
    position: relative;
    scale: 0.7;
    transform: translateY(-200px);
  }

  .contact form{
    width: 80%;
  }


  .card-container{
    display: block;
    position: relative;
    left: 10vw;
  }

  .card{
    position: relative;
    margin: auto;
  }

  .card-container h1{
    position: relative;
    bottom: -30px;
    left: -10vw;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
  }

  .infoText button{
    position: relative;
    top: 70px;
    left: 0;
  }


  .recycle {
    width: 100%;
    max-width: 300px;
    scale: 0.7;
    position: relative;
    top: -340px;
    left: 0;
  }

  .aboutMe {
    width: 100%;
    font-size: 20px;
  }

  .more {
    width: 30px;
    /* Adjust size for smaller screens */
    height: 30px;
  }

  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 5%;
    }
    
  }
}

footer {
  background-color: var(--primary-color);
  color: var(--white-color);
  text-align: center;
  padding: 1px;
  position: relative;
  bottom: 0;
  width: 100%;
}